<ion-list>
  <ion-item lines="none" *ngFor="let item of status">
    <ion-avatar slot="start">
      <img src="{{item.avatar}}">
    </ion-avatar>
    <ion-label text-wrap>
      <p>{{item.activity}}</p>
    </ion-label>
  </ion-item>
</ion-list>
<!-- <ion-virtual-scroll [items]="status" approxItemHeight="320px">
    <ion-item *virtualItem="let item;">
        <ion-avatar slot="start">
          <img src="{{item.avatar}}">
        </ion-avatar>
        <ion-label text-wrap>
          <p>{{item.activity}}</p>
        </ion-label>
      </ion-item>
</ion-virtual-scroll> -->
<!-- 
<ion-virtual-scroll [items]="status" approxItemHeight="320px">
    <ion-item lines="none"  *virtualItem="let item">
        <ion-avatar slot="start">
          <img src="{{item.avatar}}">
        </ion-avatar>
        <ion-label text-wrap>
          <p>{{item.activity}}</p>
        </ion-label>
      </ion-item>
</ion-virtual-scroll> -->