ion-tabs {
    position: relative;
    margin-bottom: 50px;
}

.profile {
    border-bottom: 1px solid #cccc;

    .profile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 10px 5px 10px;
        align-items: center;
        height: 35px;

        p {
            font-weight: bold;
        }

        ion-icon {
            font-size: 25px;
        }
    }

    .profile-info {
        height: 90px;

        .avatar {
            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }

        .detail {
            display: flex;
            flex-direction: row;
            flex: 1;
            align-items: center;

            ul {
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 20px;
                align-items: center;

                li {
                    display: inline-block;
                    text-align: center;

                    p {
                        margin: 0;

                        &.num {
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                    }

                }
            }
        }
    }
}

ion-badge {
    position: absolute;
    bottom: 5px;
    right: 15px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
}

.activated {}