<ion-searchbar></ion-searchbar>
<ion-content class="photoset">
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/1232594/pexels-photo-1232594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/1232594/pexels-photo-1232594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/1232594/pexels-photo-1232594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/1232594/pexels-photo-1232594.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="set">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2466756/pexels-photo-2466756.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>

        </ion-col>
        <ion-col size="4">
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2600351/pexels-photo-2600351.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
          <div class="photo">
            <img
              src="https://images.pexels.com/photos/2584269/pexels-photo-2584269.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>