<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="nav">
        <div>
          <ul>
            <li>
              1
            </li>
            <li>
              2
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              1
            </li>
            <li>
              2
            </li>
          </ul>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="nav">
  <div>
    <ul>
      <li>
        1
      </li>
      <li>
        2
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        1
      </li>
      <li>
        2
      </li>
    </ul>
  </div>
</div>
<ion-content>
    <app-post></app-post>
</ion-content>
