<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="nav">
        <div>
          <ul>
            <li>
              1
            </li>
            <li>
              2
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              1
            </li>
            <li>
              2
            </li>
          </ul>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<div class="nav">
  <div class="nav-icon">
    <img src="../../assets/photo-camera.png" alt="" (click)="takePicture()" class="camera">
    <img src="../../assets/icon.png" alt="" class="logo">
  </div>
  <div>
    <ul>
      <li>
        <img src="../../assets/paper-plane.png" alt="">
      </li>
      <!-- <li>
        <img src="../../assets/paper-plane.png" alt="">
      </li> -->
    </ul>
  </div>
</div>

<ion-content>
  <div class="story">
    <ul>
      <li *ngFor="let item of story">
        <img src="{{item.img}}" alt="" (click)="presentModal(item.img)">
      </li>
    </ul>
  </div>
  <app-post *ngFor="let item of list" [item]="item"></app-post>
  <img src="photo" >
</ion-content>