
.user-profile {
    background-color: #fff;
    border-radius: 5px;
    .user-profile-nav {
        height: 50px;
        display: flex;
        flex-direction: row;
        text-align: center;
        text-transform: uppercase;
        color: #422912;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        align-items: center;
        
        a {
            cursor: pointer;
            flex: 1;
            margin: 0;
            padding-bottom: 5px;
            color:#333;
            border: none;
            box-shadow: none;
            padding-bottom: 10px;
            &.active {
                border-bottom: 1px solid #422912;
            }
        }
    }
    ion-router-outlet {
        top:50px;
        display: block;
    }
}
