<ion-content>

    <div class="user-profile">
        <div class="user-profile-nav">
            <ion-button  [routerLink]="['user']" routerLinkActive="router-link-active" [ngClass]="{active: infoToShow == 0}" (click)="changeInfoDisplay()" fill="clear" color="white"
                >User</ion-button>
            <ion-button  [routerLink]="['following']" routerLinkActive="router-link-active"  [ngClass]="{active: infoToShow == 1}" (click)="changeInfoDisplay()" fill="clear" color="white"
               >Following
            </ion-button>
        </div>
        <ion-router-outlet></ion-router-outlet>
    </div>

</ion-content>