<div>
  <div class="post-header">
    <div class="avatar">
      <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn" alt="">
      <p>Hahadsadas</p>
    </div>
    <p>...</p>
  </div>
  <div class="post-img">
    <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn" alt="">
  </div>
  <div class="post-interact">
    <div class="interact-icon">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
    <div class="interact-cmt">
      <p>123456</p>
      <p>12345<span>interact-icon</span></p>
    </div>
    <div class="cmt-input">
        <div class=cmt>
            <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn" alt="">
            <input type="text" name="" id="">
        </div>
        <ul>
          <li>
            1
          </li>
          <li>
            2
          </li>
        </ul>
      </div>
  </div>
  
</div>
