<div>
  <div class="post-header">
    <div class="avatar">
      <img
        src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn"
        alt="">
      <p>Sky</p>
    </div>
    <img src="../../../assets/show-more.png" alt="">
  </div>
  <div class="post-img">
    <img
      src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn"
      alt="">
  </div>
  <div class="post-interact">
    <div class="interact-icon">
      <ul>
        <li><img src="../../../assets/heart.png" alt=""></li>
        <li><img src="../../../assets/speech-bubble.png" alt=""></li>
        <li><img src="../../../assets/paper-plane.png" alt=""></li>
      </ul>
    </div>
    <div class="cmt">
      <p class="post-like">123456 likes</p>
      <p class="post-cmt">Sky<span>Lorem ipsum dolo</span></p>
    </div>
    <div class="cmt-input">
      <div class="input">
        <img
          src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzEwNC84MzAvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzExMTA1NzIxNTkuanBn"
          alt="">
        <input type="text" name="" id="" placeholder="Add comment">
      </div>
      <ul>
        <li><img src="../../../assets/heart.png" alt=""></li>
        <li><img src="../../../assets/heart.png" alt=""></li>
      </ul>
    </div>
  </div>

</div>